.header-container {
    display: flex;
    justify-content: space-between;

    width: 100%;
    padding: 24px 160px;

    border-bottom: 2px solid #e2e2e2;

    .header_logo{
        color: #29292e;
    }

    .header_link_container {
        display: flex;
        align-items: center;

        .header_link {
            font-weight: 400;
            color: #29292e;
            text-decoration: none;
        }

        .header_link:nth-child(1) {
            margin-right: 40px;
        }

        .header_link:nth-child(2) {
            margin-right: 40px;
        }

        .header_link:hover {
            color: #835afd;
            border-bottom: 2px solid #835afd;
            border-top: 2px solid transparent;
            transition: color 0.2s;
        }
    }

    @media screen and (max-width: 768px) {
        padding: 24px 40px;
    }

    @media screen and (max-width: 425px) {
        padding: 24px 20px;
    }
}