.home_container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    height: 90vh;

    aside {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        padding: 0rem 10rem;

        .home_logo_container {
            display: flex;
            align-items: center;
            width: 100%;

            h1 {
                font-size: 1.5rem;
                font-weight: 500;
                color: #29292e;
                margin-left: 0.5rem;
            }
        }

        .home_content_container {

            h1 {
                font-weight: 700;
                font-size: 4rem;
                color: #835afd;
                margin-bottom: 1rem;
            }

            p {
                color: #29292e;
                font-size: 1.5rem;
            }
        }

        
        button {
            border: none;

            padding: 1.5rem;
            
            width: 100%;

            border-radius: 0.5rem;
            background: #835afd;

            color: #f8f8f8;
            font-size: 1.2rem;
        }

        button:hover {
            background: #6d4bd3;
            transition: 0.2s;
            cursor: pointer;
        }
    }

    section {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
}